<app-header></app-header>
<!--====== BANNER PART START ======-->
<div class="banner-active">
    <div class="single-banner bg_cover" style="background-image: url(assets/images/image1.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">Dépanné Ma</span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">Meilleur appli <br>Pour votre voiture</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Dépanné votre voiture en un clic  </p>
                        </div> <!-- banner content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </div>
    <div class="single-banner bg_cover" style="background-image: url(assets/images/image2.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">Dépanné Ma</span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">Votre garage <br> à proximité</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Retrouver votre garage à proximité de vous en cas de panne  </p>
                        </div> <!-- banner content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </div>
    <div class="single-banner bg_cover" style="background-image: url(assets/images/image3.jpg);">
        <div class="banner-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="banner-content">
                            <span data-animation="fadeInLeft" data-delay="0.5s">Dépanné Ma</span>
                            <h1 data-animation="fadeInLeft" data-delay="0.9s" class="title">Pas de stress <br>Avec notre appli</h1>
                            <p data-animation="fadeInLeft" data-delay="1.3s">Rechercher le garage qui vous convient et passer un appel</p>
                        </div> <!-- banner content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div>
    </div>
</div>
<!--====== BANNER PART ENDS ======-->
<!--====== WHO WE ARE PART START ======-->
<div class="who-we-are-area pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                <div class="section-title">
                    <span>Qui somme nous</span>
                    <h2 class="title">Nous travaillons pour vous faciliter vos voyages ou déplacement.</h2>
                </div> <!-- section title -->
            </div>
            <div class="col-lg-6 offset-lg-1 wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="section-title mt-70">
                    <p>Dépanné Ma permet de mettre en relation particulier et professionnel de la réparation automobile. Fonctionnant comme un véritable Uber du dépannage, Dépanné Ma vous permet, lorsque vous êtes en panne sur la route, d'être mis en relation avec le dépanneur le plus proche. </p>
                </div> <!-- section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <!-- <i class="fal fa-laptop-code"></i> -->
                    <i class="fal fa-truck-monster"></i>
                    <h5 class="title">Roue crevée</h5>
                    <p></p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <i class="fal fa-car-battery"></i>
                    <h5 class="title">Panne de batterie</h5>
                    <p></p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <!-- <i class="fal fa-chalkboard"></i> -->
                    <i class="fa fa-truck-couch"></i>
                    <h5 class="title">Remorquage</h5>
                    <p></p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 wow slideInUp" data-wow-duration="2s" data-wow-delay="0s">
                <div class="what-we-do-item text-center mt-30">
                    <!-- <i class="fal fa-database"></i> -->
                    <i class="fa fa-car-crash"></i>
                    <h5 class="title">Vitre brisée</h5>
                    <p></p>
                    <a routerLink='/case-detail'><i class="fal fa-long-arrow-right"></i></a>
                </div> <!-- what we do item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="what-we-are-shape-1">
        <img src="assets/images/what-we-are-shape-1.png" alt="shape">
    </div>
    <div class="what-we-are-shape-2">
        <img src="assets/images/what-we-are-shape-2.png" alt="shape">
    </div>
</div>
<!--====== WHO WE ARE PART ENDS ======-->
<!--====== SOLUTION PART START ======-->
<div class="solution-area bg_cover" style="background-image: url(assets/images/image5.jpg);">
    <div class="solution-overlay pt-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="solution-box">
                        <div class="solution-content">
                            <h3 class="title">Les meilleurs mécaniciens pour servir</h3>
                            <p>Chauffeur dépanneur, comment s'inscrire et devenir partenaire. Vous avez une dépanneuse/remorqueuse! Travaillez quand vous voulez et gérez vos revenus comme vous le sentez. Notre équipe est là pour vous accompagner.</p>
                            <div class="solution-play text-right mr-30 d-block d-lg-none">
                                <a class="video-popup" href="#"><i class="fas fa-play"></i></a>
                            </div> <!-- solution play -->
                        </div>
                    </div> <!-- solution box -->
                </div>
                <div class="col-lg-4">
                    <div class="solution-play text-right mr-30 d-none d-lg-block">
                        <a class="video-popup" href="http://bit.ly/2VuPnrx"><i class="fas fa-play"></i></a>
                    </div> <!-- solution play -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== SOLUTION PART ENDS ======-->
<!--====== SERVICES TITLE PART START ======-->
<div class="services-title-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="services-title-item text-center">
                    <div class="ring-shape"></div>
                    <span>Nos services</span>
                    <h3 class="title">Nous vous offrons les meilleurs services en cas de panne</h3>
                </div> <!-- services title item -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<!--====== SERVICES TITLE PART ENDS ======-->
<!--====== LATEST SERVICES PART START ======-->
<div class="latest-services-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration=".5s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/image13.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">Vitre brisée</h4>
                        <p>Si vous avez une vitre cassée sur votre voiture, cela peut vite devenir problématique. En effet, vous risquez d’avoir de l’eau qui s’infiltre dans l’habitacle en cas d’intempéries et votre voiture devient vulnérable face aux différentes tentatives de vols.</p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/image12.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">Remorquage</h4>
                        <p>Si vous êtes sur autoroute ou voie rapide, la réponse est non. Vous devez obligatoirement faire appel un professionnel agréé.Si vous êtes sur l’autoroute: il est interdit de remorquer seul sa voiture avec des cordes par exemple. Pour tout remorquage.</p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/image10.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">Pneu crevée</h4>
                        <p>Une crevaison est vite arrivée et vous ne disposez pas forcément des outils nécessaires pour changer votre roue. Même si l'opération est relativement simple, il est important de connaître les bons gestes car une roue mal changée peut devenir dangereuse.</p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/image14.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">Lavage</h4>
                        <p>Laver sa voiture est important et fait partie de son entretien. Mais en voulant trop bien faire, vous pouvez faire des dégâts… Suivez le guide pour un lavage sans soucis</p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/image15.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">Vidange</h4>
                        <p>Vidanger le moteur de sa voiture fait partie de l’entretien du véhicule, au même titre que faire les niveaux ou ajouter du liquide de refroidissement
                        </p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9 wow fadeInUp" data-wow-duration="3s" data-wow-delay="0s">
                <div class="single-services mt-30 mb-55">
                    <div class="services-thumb">
                        <img src="assets/images/image11.jpg" alt="">
                    </div>
                    <div class="services-content">
                        <h4 class="title">Panne de batterie</h4>
                        <p>La batterie de votre voiture n’est pas conçue pour durer éternellement. La manière de conduire, la météo, la manière d’utiliser les accessoires de votre voiture.</p>
                        
                    </div>
                </div> <!-- single services -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== CASE STUDIES PART ENDS ======-->
<!--====== TEAM MEMBER PART START ======-->
<div class="team-member-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span>Nos exploits</span>
                    <h2 class="title">Nos mécaniciens dans leurs dommaines de compétences.</h2>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-team-member mt-30">
                    <img src="assets/images/image2.jpg" alt="team-member">
                    <div class="team-member-overlay">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                        <h4 class="title">Khadim Fall</h4>
                        <span>Garage Bibiche</span>
                    </div>
                </div> <!-- single team member -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-team-member mt-30">
                    <img src="assets/images/image4.jpg" alt="team-member">
                    <div class="team-member-overlay">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                        <h4 class="title">Djamil Dieme</h4>
                        <span>Garage SUNTELCOM</span>
                    </div>
                </div> <!-- single team member -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-team-member mt-30">
                    <img src="assets/images/image5.jpg" alt="team-member">
                    <div class="team-member-overlay">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                        <h4 class="title">Mage Niang</h4>
                        <span>Garage Element SBS</span>
                    </div>
                </div> <!-- single team member -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-team-member mt-30">
                    <img src="assets/images/image6.jpg" alt="team-member">
                    <div class="team-member-overlay">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                        <h4 class="title">Bachir Ndiaye</h4>
                        <span>Garage sacré coeur</span>
                    </div>
                </div> <!-- single team member -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-team-member mt-30">
                    <img src="assets/images/image7.jpg" alt="team-member">
                    <div class="team-member-overlay">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                        <h4 class="title">Cheikh Diop</h4>
                        <span>Garage Daradji</span>
                    </div>
                </div> <!-- single team member -->
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="single-team-member mt-30">
                    <img src="assets/images/image8.jpg" alt="team-member">
                    <div class="team-member-overlay">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                        <h4 class="title">Adama Danfa</h4>
                        <span>Garage Afnad</span>
                    </div>
                </div> <!-- single team member -->
            </div>
        </div> <!-- row -->
    </div> <!-- container fluid -->
</div>
<!--====== TEAM MEMBER PART ENDS ======-->
<!--====== CONTACT US PART START ======-->
<div class="contact-us-area bg_cover" style="background-image: url(assets/images/contact-bg.jpg)">
    <div class="contact-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <span>Nous contactez</span>
                        <h2 class="title">Pour plus de renseignements</h2>
                    </div> <!-- sevtion title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact-details d-flex">
                        <div class="contact-thumb wow slideInLeft" data-wow-duration=".5s" data-wow-delay="0s">
                            <img src="assets/images/appel.jpg" alt="">
                        </div>
                        <div class="contact-form-area">
                            <form action="#">
                                <div class="input-title">
                                    <h3 class="title">N'hésitez pas à nous contacter, dites bonjour......</h3>
                                </div> <!-- input title -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="text" placeholder="Prénom & Nom">
                                            <i class="fal fa-user"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="email" placeholder="Email">
                                            <i class="fal fa-envelope-open"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="text" placeholder="Téléphone">
                                            <i class="fal fa-phone"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box mt-30">
                                            <input type="text" placeholder="Objet">
                                            <i class="fal fa-edit"></i>
                                        </div> <!-- input box -->
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-box mt-30">
                                            <textarea name="#" id="#" cols="30" rows="10" placeholder="Message"></textarea>
                                            <i class="fal fa-pencil"></i>
                                            <button class="main-btn wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s" type="submit">Envoyer <i class="fal fa-long-arrow-right"></i></button>
                                        </div> <!-- input box -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- contact details -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
</div>
<!--====== CONTACT US PART ENDS ======-->

<app-footer></app-footer>
